audit=true
fund=false
package-lock=true
engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
resolve-peers-from-workspace-root=true
enable-pre-post-scripts=false
ignore-scripts=false
